<!-- Modal Tree -->
<div class="modal fade" id="JenisTanamanHelp" tabindex="-1" role="dialog" aria-labelledby="JenisHelpTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Bantuan pengisian</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:justify">
                <label>Pilih jenis pohon/tanaman yang telah ditanam dengan umur minimal 3 tahun.</label> <br />                
                <label style="font-size:13px;"><i>PS : Data yang diinput akan diakumulasikan dengan data yang pernah diinput pada periode yang sama</i></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Tree Amount --> 
<div class="modal fade" id="JumlahTanamanHelp" tabindex="-1" role="dialog" aria-labelledby="JumlahHelpTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Bantuan pengisian</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:justify">
                <label>Input jumlah (batang) pohon yang telah ditanam sesuai jenis tanaman yang diinput.</label> <br />                
                <label style="font-size:13px;"><i>PS : Data yang diinput akan diakumulasikan dengan data yang pernah diinput pada periode yang sama</i></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>
