
<footer class="footer text-muted">
    <div class="text-white">
        @*&copy; 2022 - FrontEnd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        <div class="row">
           <div class="col-md-7">
                <div class="footer-company">
                    <p>PT. Pertamina Hulu Energi</p>
                </div>
                <div class="footer-paragraph">
                    <div>
                        <p>PHE Tower</p>
                        <p>Jl TB. Simatupang Kav 99</p>
                        <p>Jakarta Selatan 12520</p>
                        <p>Indonesia</p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-2 menu-list WhiteFont">
                @*<h5>Menu</h5>
                    <div>
                        <ul>
                            <li><a href="#">Profil Perusahaan</a></li>
                            <li><a href="#">Bisnis Kami</a></li>
                            <li><a href="#">Relasi Investor</a></li>
                            <li><a href="#">Teknologi dan Inovasi</a></li>
                        </ul>
                    </div>*@
            </div>
            <div class="col-md-2 menu-list">
                @*<div class="menu-list-2 WhiteFont">
                        <ul>
                            <li><a href="#">Media dan Informasi</a></li>
                            <li><a href="#">Keberlanjutan</a></li>
                            <li><a href="#">Procurement Activity</a></li>
                            <li><a href="#">Customer Survey</a></li>
                        </ul>
                    </div>*@
            </div>
            <div class="col-md-1 logo-135">
                <img src="/assets/img/XMLID_1_.png" style="height:55px;" alt="Alternate Text" />
            </div>
            <div class="social-icon-list">
                    <ul>
                    @*<li><a href="#"><i class="fab fa-facebook"></i></a></li>*@
                        <li><a href="https://instagram.com/phe.pertamina?igshid=OGQ2MjdiOTE=" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/pertaminahuluenergi" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    @*<li><a href="https://youtube.com/@phe.pertamina7070"><i class="fab fa-youtube"></i></a></li>*@
                        <li><a href="@Url.Content("https://youtube.com/@phe.pertamina7070")" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
        </div>
    </div>
</footer>