@*<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/assets/img/Logo CC (1).png" style="height: 85px; width: 270px;" /></a>
            <a class="navbar-brand" href="#"><img src="/assets/img/Header.png" style="height: 85px; width: 270px;" /></a>
        </div>
    </nav>
</header>*@


<header>
    <nav>
        <div>
            <a class="rounded float-left" asp-controller="Home" asp-action="Index" title="Ke Beranda Carbon Calculator"><img src="/assets/img/Logo CCandESG.png" style="height: 85px; width: 400px;" /></a>
            <a class="rounded float-right" href="#"><img src="/assets/img/Header.png" style="height: 85px; width: 270px;" /></a>
        </div>
    </nav>
</header>