<div class="d-flex justify-content-center">
    @*<a asp-controller="Home" asp-action="Index"><img src="#" alt="Home" /></a>*@
    <a class="btn btn-primary" style="padding: 10px 65px;" asp-controller="Home" asp-action="Index">Beranda</a>
</div>