<!-- Modal LPG -->
<div class="modal fade" id="lpgHelp" tabindex="-1" role="dialog" aria-labelledby="lpgHelpTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Bantuan pengisian</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:justify">
                <label>Input estimasi berapa kilogram gas LPG yang telah anda gunakan dalam bulan ini.</label> <br />                
                <label style="font-size:13px;"><i>PS : data yang diinput akan diakumlasikan dengan data yang pernah diinput pada periode yang sama</i></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<!-- Modal listrik -->
<div class="modal fade" id="listrikHelp" tabindex="-1" role="dialog" aria-labelledby="listrikHelpTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Bantuan pengisian</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:justify">
                <label>Input estimasi berapa kilo watt per jam listrik yang telah dikonsumsi dalam bulan ini.</label> <br />
                <label>jika konsumen prabayar, maka nilai token menjadi nilai konsumsi listrik</label> <br />
                <label style="font-size:13px;"><i>PS : data yang diinput akan diakumlasikan dengan data yang pernah diinput pada periode yang sama</i></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>


<!-- Modal gas kota -->
<div class="modal fade" id="gasHelp" tabindex="-1" role="dialog" aria-labelledby="gasHelpTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Bantuan pengisian</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:justify">
                <label>Input estimasi berapa kubik gas kota yang telah dikonsumsi dalam bulan ini.</label> <br />
                <label style="font-size:13px;"><i>PS : data yang diinput akan diakumlasikan dengan data yang pernah diinput pada periode yang sama</i></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>