<!-- Modal JarakTempuh -->
<div class="modal fade" id="JarakTempuhHelp" tabindex="-1" role="dialog" aria-labelledby="JarakTempuhHelpTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Bantuan pengisian</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:justify">
                <label> Input estimasi jarak yang telah ditempuh dalam periode pengisian.</label> <br />
                <label style="font-size:13px;"><i></i></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<!-- Modal Frekuensi -->
<div class="modal fade" id="FrekuensiHelp" tabindex="-1" role="dialog" aria-labelledby="FrekuensiHelpTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Bantuan pengisian</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:justify">
                <label>Input estimasi frekuensi dari perjalanan sesuai informasi jarak tempuh.</label> <br />
                @* <label>jika konsumen prabayar, maka nilai token menjadi nilai konsumsi listrik</label> <br />*@
                <label style="font-size:13px;"><i> </i></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>


<!-- Modal Fuel -->
<div class="modal fade" id="FuelHelp" tabindex="-1" role="dialog" aria-labelledby="FuelHelpTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Bantuan pengisian</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:justify">
                <label>?.</label> <br />
                <label style="font-size:13px;"><i>PS : data yang diinput akan ?</i></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<!-- Modal CC -->
<div class="modal fade" id="CCHelp" tabindex="-1" role="dialog" aria-labelledby="CCHelpTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Bantuan pengisian</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:justify">
                <label>?.</label> <br />
                <label style="font-size:13px;"><i>PS : data yang diinput akan ?</i></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<!-- Modal JenisTransport -->
<div class="modal fade" id="JenisTransportHelp" tabindex="-1" role="dialog" aria-labelledby="JenisTransportHelpTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Bantuan pengisian</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:justify">
                <label>?.</label> <br />
                <label style="font-size:13px;"><i>PS : data yang diinput akan ?</i></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<!-- Modal jumlah penumpang -->
<div class="modal fade" id="MaxCapHelp" tabindex="-1" role="dialog" aria-labelledby="JarakTempuhHelpTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Bantuan pengisian</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" style="text-align:justify">
                <img src="/assets/img/kapasitas penumpang.PNG" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>