
@{
    ViewData["Title"] = "BackgroundInfo";
    Layout = "~/Views/Shared/_LayoutHomeInfoHelp.cshtml";
}


<a asp-controller="Home" asp-action="Index"><img src="/assets/img/Back.png" /></a>
<div class="row">
    <div class="col-md-6">
        <div class="imgCol">
            <img src="/assets/img/Background info.png" style="height:606px; width:550px;" />
        </div>
    </div>
    <div class="col-md-6">
        <p class="p1">MENGENAL</p>
        <h4>CARBON CALCULATOR</h4>
        <p class="text-justify">
            Peningkatan temperatur rata-rata bumi telah menyebabkan perubahan iklim yang dapat menimbulkan terjadinya bencana alam, serta mengancam kehidupan peradaban manusia modern dan keberlanjutan ekosistem global. Hal ini disebabkan oleh meningkatnya konsentrasi gas rumah kaca atau biasa disebut dengan <strong>GRK</strong> dari berbagai kegiatan kita sehari-hari seperti halnya pada saat pemakaian perangkat listrik, berkendara dan bentuk gaya hidup lainnya.
        </p>
        <P class="text-justify">
            Besaran emisi gas rumah kaca disebut dengan <strong>Jejak Karbon (Carbon Footprint)</strong>, dan sangatlah penting untuk mengetahui Jejak Kabron yang kita hasilkan setiap tahunnya.  Kita  pun  tentunya  dapat me-NETRAL-kannya dengan gaya hidup hemat energi dan menanam pohon sebagai Serapan Karbon.
        </P>
        <P class="text-justify">
            <strong>Carbon Calculator</strong> adalah sebuah aplikasi perangkat lunak berbentuk kalkulator (Web App), yang disiapkan untuk dapat menghitung Jejak Karbon secara individu/ per orang. Dan pada akhirnya kita bisa mengetahui, apakah sudah hemat atau <strong>"Netral Karbon"</strong>.
        </P>
        <p class="text-justify">
            Disinilah kita secara bersama-sama berkontribusi dalam memitigasi dan adaptasi terkait perubahan iklim di planet bumi. <span style="color: #ABC437;"><strong>GO GREEN!</strong></span>
        </p>
    </div>
</div>