@model WebSystem.Models.Vw_Emission_Report_Field;

@{
    ViewData["Title"] = "Report";
}

<style>
    thead input {
        width: 100%;
    }

    .btn.btn-secondary.buttons-excel.buttons-html5 {
        background-color: #28a745;
        color: #fff; /* Untuk mengubah warna teks tombol menjadi putih agar kontras dengan latar belakang */
        border-color: #28a745;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.bootstrap4.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.2.1/css/fixedColumns.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.2.3/css/fixedHeader.dataTables.min.css" />

<div class="pt-4">
    <h3 style=" text-align: center; padding-bottom: 20px;">Laporan Rekapitulasi Emisi Karbon</h3>
    <!--<div class="form-inline pb-4">
        <div class="form-group">
            <label for="inputPassword6">Username</label>
            <input type="text" class="form-control mx-sm-3" placeholder="Username">-->
    @*<small id="passwordHelpInline" class="text-muted">
        Must be 8-20 characters long.
        </small>*@
    <!--</div>
    <div class="form-group">
        <label for="inputPassword6">Bulan</label>
        <input type="text" class="form-control mx-sm-3" placeholder="Bulan">-->
    @*<small id="passwordHelpInline" class="text-muted">
        Must be 8-20 characters long.
        </small>*@
    <!--</div>
    <div class="form-group">
        <label for="inputPassword6">Tahun</label>
        <input type="number" class="form-control mx-sm-3" placeholder="Tahun">-->
    @*<small id="passwordHelpInline" class="text-muted">
        Must be 8-20 characters long.
        </small>*@
    <!--</div>
        <div class="form-group float-right">
            <a class="btn btn-success" href="#"><i class="fa fa-file"></i> Export to Excel</a>
        </div>
    </div>-->
    <div class="box" style="border-top-color:#337ab7">
        <div class="box-body">
            <table class="table table-striped table-bordered" id="Report">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>
                            @* @@Html.DisplayNameFor(model => model.HouseholdId)@*@
                            Nama
                        </th>
                        <th>
                            @* @@Html.DisplayNameFor(model => model.HouseholdId)@*@
                            Company
                        </th>
                        <th>
                            Regional
                        </th>
                        <th>
                            Zona
                        </th>
                        <th>
                            Field
                        </th>
                        <th>
                            Bulan
                        </th>
                        <th>
                            Tahun
                        </th>
                        <th>
                            Emisi Listrik (KG CO<sup>2</sup>)
                        </th>
                        <th>
                            Emisi Gas (KG CO<sup>2</sup>)
                        </th>
                        <th>
                            Emisi Per Orang (KG CO<sup>2</sup>)
                        </th>
                        <th>
                            Emisi Kendaraan (KG CO<sub>2</sub>)
                        </th>
                        <th>
                            Serapan Karbon (KG CO<sub>2</sub>)
                        </th>
                        <th>
                            Emisi Karbon Final (KG CO<sub>2</sub>)
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


@section scripts{

    <!-- additional script -->
    @*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/4.2.1/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>



    <script type="text/javascript">
        var UrlListVehicle = '@Url.Action("GetListReport", "Report")';

        $(document).ready(function () {
            //$('div[id="nav-rumah"]').on('shown.bs.tab', function (e) {
            //    $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            //});

            $('#Report thead tr')
                .clone(true)
                .addClass('filters')
                .appendTo('#Report thead');

            $('#Report').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                scrollX: true,
                scrollY: true,
                dom: 'Bfrtip',
                paging: true,
                initComplete: function () {
                    var api = this.api();

                    // For each column
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text();
                            $(cell).html('<input type="text" />');

                            // On every keypress in this input
                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('change', function (e) {
                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();
                                })
                                .on('keyup', function (e) {
                                    e.stopPropagation();

                                    $(this).trigger('change');
                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                },
                //fixedColumns: {
                //    leftColumns: 1
                //    //,rightColumns: 1
                //},
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: 'Export to Excel',
                        exportOptions: {
                            modifier: {
                                page: 'current'
                            }
                        }
                    }
                ],
                ajax: {
                    url: UrlListVehicle,
                    type: 'GET',
                    dataType: 'json',
                    dataSrc: ''
                },
                pageLength: -1,
                paging: false,
                columnDefs: [
                    { 'targets': [0], 'visible': false, 'searchable': false },
                    { 'targets': [1], 'width': '180px' },
                    { 'targets': [2], 'width': '200px' },
                    { 'targets': [4], 'width': '90px' },
                    { 'targets': [5], 'width': '130px' },
                    //{ 'targets': [6], 'width': '180px' },
                    //{ 'targets': [7], 'width': '210px' },
                    { 'targets': [8], 'width': '200px' },
                    { 'targets': [9], 'width': '200px' },
                    { 'targets': [10], 'width': '200px' },
                    { 'targets': [11], 'width': '200px' },
                    { 'targets': [12], 'width': '200px' },
                    { 'targets': [13], 'width': '220px' },
                ],
                responsive: true,
                columns: [
                    { data: 'userId' },//0
                    { data: 'name' },//0
                    { data: 'company' },//6
                    { data: 'regional' },//6
                    { data: 'zona' },//6
                    { data: 'field' },//6
                    { data: 'monthDetail' },//1
                    { data: 'year' },//6
                    { data: 'electricityEmission' },//6
                    { data: 'gasEmission' },//6
                    { data: 'peopleEmission' },//6
                    { data: 'vehicleEmission' },//6
                    { data: 'carbonAbsorption' },//6
                    { data: 'totalEmission' },//6
                ],
            });
        });
    </script>
}